.create-mcqs-container {
  margin: 20px;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  font-weight: bold;
}

.btn-group {
  margin-top: 20px;
}

.btn-group button {
  margin-right: 10px;
}
